{% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}

<div class="w3-container">
  {% if registered %}
     <h1>thankyou for registering!!</h1>
  {% else %}
     <h1>Register Here</h1>

     <form enctype="multipart/form-data" method="post">
       {% csrf_token %}
       {{ user_form.as_p }}
       <input type="submit" name="" value="join">

     </form>
  {% endif %}
  {% endblock %}

</div>
